logs/
conf/
java/
tmp/

*.zip
*.tar.gz

bin/
contrib/
cred/
db/
jisql/
templates-upgrade/

lib/
ranger_jaas/
ranger-admin-initd
Tomcat/

conf
conf.*
logs
logs.*
*.py
*.sh

install.properties
logfile
set_globals.log.*
version
