.idea/
logs/
conf/
java/
tmp/
solr/
node_modules/
ranger-2.0.0-usersync/

*.zip
*.tar.gz

bin/
contrib/
cred/
db/
jisql/
templates-upgrade/

lib/
ranger_jaas/
ranger-admin-initd
Tomcat/

conf
conf.*
logs
logs.*
*.py
*.sh

install.properties
logfile
set_globals.log.*
version
*.min.js
*.js.map
